.carrusel{
    width: 100%;
    max-height: 100%; 
  }
  
  .fuera{
    max-height: 900px;
    width: 100%;
  }
  
  nav{
    background-color: $color6; /*color del nav*/
  }
  
  h1{
    text-decoration: none;
    color: $color1;
  }
  
  span{
    color: $color3;
  }