.contacto{
    text-align: left;
    height: 80px;
  }

  .num{
    text-align: left;
    height: 80px;
  }

  .mail{
    text-align: left;
    height: 80px;
  }

  .formu{
    text-align: left;
    height: 80px;
  }